# Prerequisites
*.d
.vs
x64

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mp3
*.mp4
*.avi

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
